In [1]:
# set the midpoint
midpoint = 5

In [2]:
type(midpoint)

int

type ==> returned the type of objuct refferenced by the variable, midpoint

In [3]:
####### EDIT FROM THE ORIGINAL NOTEBOOK #######

In [4]:
type(range)

type

In [5]:
type(int)

type

range ==> is a ittarator

In [6]:
range(10)

range(0, 10)

how do we turn it into numbers

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
#sort/sorted
L = [4,3,5,2,7]
L.sort()
L

[2, 3, 4, 5, 7]

In [11]:
L = [4,3,5,2,7]
sorted(L)

[2, 3, 4, 5, 7]

In [12]:
L

[4, 3, 5, 2, 7]

In [13]:
def my_func():
    t = [5,3,2]
    print(t)

In [15]:
ans = my_func()
print(ans)

[5, 3, 2]
None

In [16]:
type(ans)

NoneType

In [17]:
a= [1,2,3]
b= [1,2,3]

In [18]:
a==b

True

In [20]:
a is b

False

In [21]:
id(a)

1541860617544

In [22]:
id(b)

1541860936264

a==b

In [26]:
c = a

In [27]:
a is c

True

In [28]:
c is a

True

In [29]:
a == c

True

In [24]:
#Convension for none value
n= None
n is None

True

In [25]:
# NEVER USE THIS
n== None

True